#simulation-canvas {
  display: inline-block;
}


.button {
    background-color: #FFEB3B;
    border: none;
    color: #757575;
    padding: 15px 27px;
    text-align: center;
    text-decoration: none;
    display: block;
    font-size: 16px;
    margin: 5px 10px;
    cursor: pointer;
}

.inline-button {
  display:inline-block;
}
.next-button {
  display:inline-block;
  padding:5px 7px;
  margin: 10px, 5px
}

.simulation-options label  {
  display:block;
  margin-top:20px;
}

.simulation-options label  {
  display:block;
  margin-top:20px;
}


.simulation-options input  {
  float:right;
}

.table-label{
  text-align: center;
}

.table-label table{
  background-color:white;
  color: #757575;
}

.table-label th{
  border: 1px solid black;
}

.simulation-container {
  display:none;
  position: relative;
  width:900px;
  margin: 25px auto;
  padding: 25px;
}

.simulation-options {
  vertical-align: top;
  display:inline-block;
  margin: 0px 30px;
  width:auto;
  height:500px;
  box-sizing:border-box;
}

.links {
  width:900px;
  margin: 0px auto;
  display:flex;
  justify-content: space-around;
}
